<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <span> Welcome</span>
    </h1>
    <form name="form-info" action="/user/profile" method="POST">
      <input type="hidden" name="id">
    </form>
    <form name="form-login">
      <label for="ID">ID :</label>
      <div><input id="ID" type="text" name="userId" required /></div>
      <label for="password">Password :</label>
      <input id="password" type="password" name="pw" required />
      <button type="button" onclick="login();">
        <span>Login</span>
      </button>
    </form>

    <a href="/user/signup">Register</a>
    </section>
    </div>
  </body>
</html>