<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <form name="form-register">
      ID <input type="text" name="userid" required placeholder="id" />
      Password<input type="password" name="pw" required placeholder="password" />
      Name<input type="text" name="name" required placeholder="name" />
      <button type="button" onclick="">가입하기</button>
    </form>
    <a href="/user/login"> <button type="button">아이디가 있어요! 로그인 하러 가기</button></a>
  </body>
</html>