@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

.chat-box {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 0.5fr 2fr;
  gap: 0px;
}

.chat-box-left {
  width: 330px;
  min-height: 500px;
  background-color: whitesmoke;
  border-right: 0.5px solid rgb(210, 208, 208);
}

.chat-box-right {
  width: 620px;
}

.chat-welcome {
  width: 620px;
  height: 50px;
  background-color: whitesmoke;
  text-align: center;
  padding: 12px;
  border-bottom: 0.5px solid rgb(210, 208, 208);
}
.chat-wrapper {
  width: 620px;
  min-height: 500px;
  background-color: whitesmoke;
  padding: 20px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-container .list {
  margin-top: 4px;
}

.list > .content {
  display: inline-block;
  padding: 2px 10px;
}
/* 채팅 창 */
.chat-container .my-chat {
  text-align: right;
}
.my-chat .content {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

.chat-container .other-chat {
  text-align: left;
}
.other-chat .content {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
}
/* .other-chat > user-id {
  background-color: aqua;
  color: red;
} */
/* 입장공지 */
.chat-container .notice {
  font-size: 12px;
  color: grey;
  text-align: center;
  justify-content: center;
  margin-top: 6px;
}

.input-container {
  width: 580px;
  height: 40px;
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.input-container > input {
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.input-container > button {
  width: 55px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 0.5px solid rgb(125, 125, 125);
}
.input-container > select {
  width: 100px;
  background-color: transparent;
  border: 0.5px solid rgb(125, 125, 125);
  border-radius: 10px;
  cursor: pointer;
}
.input-container > select option {
  border-radius: none;
  background: rgb(122, 122, 122);
  color: #fff;
  padding: 3px 0;
}

input::placeholder {
  text-align: center;
}

.chat {
  margin-bottom: 5px;
  border-bottom: 0.5px solid rgb(210, 208, 208);
}

.user-id {
  font-weight: bold;
  margin-right: 5px;
}

.message {
  display: block;
}
.startChat-container {
  width: 950px;
  height: 550px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.startChat-container > button {
  width: 55px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 0.5px solid rgb(125, 125, 125);
  margin-top: 10px;
}

.startChat-container > input {
  width: 230px;
  background-color: rgb(210, 208, 208);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}
