
/* 전체 선택자*/
* {
    color: white;
    background-color: gray; */
}

/* 태그 선택자*/
span {
    background-color: red;
}

/* 클래스 선택자*/
.second {
    background-color: green;
}


/* 아이디 선택자*/
#first {
    background-color: blue;

}

/* 하위선택자*/
div .apple {
    color: red;
}

/*자식선택자*/
div > .apple {
    color: blueviolet;
}

/*인접 형제 선택자 이렇게 하면 인접된 list만 변경*/ 
h1 + ul {
    color: blue;
    font-size: 20px;
}

/*인접 형제 선택자 이렇게 하면 전체 변경*/ 
h1 ~ ul {
    color: blue;
    font-size: 20px;
}

#tiger {
    background-color: yellow;
}

ul .lion {
    background-color: greenyellow;
}

ul .lion {
    font-weight: 1000;
}

p.lion {
    background-color: red;
}

.lion {
    color: sienna;
}

#tiger + li {
    background-color: skyblue;
}

li.lion ~ li {
    background-color: orange;
} */